<%= form_for(@z_folder) do |f| %>
  <% if @z_folder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@z_folder.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @z_folder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :label %><br>
    <%= f.text_field :label %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
